.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/extdata/*
inst/doc/*.pdf
inst/doc/*.docx
inst/doc/*.html
inst/doc/*.RData
inst/doc/*.pdf
inst/doc/*.png
inst/doc/*_files
inst/doc/*_cache
inst/phylogeny
inst/doc/*.csl
inst/extdata.zip
